<!-- start custom head snippets -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.1.0/leaflet.css" integrity="sha256-5piEyhaG15nC4xz3JkR5cXmYqv7nWig0wO73EFNL/nw=" crossorigin="anonymous" />

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css">
<link rel="stylesheet" media="print" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.min.css">


<!-- insert favicons. use http://realfavicongenerator.net/ -->
<!-- 16x16 -->
<link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | absolute_url }}">
<!-- 32x32 -->
<link rel="shortcut icon" href="{{ '/assets/images/favicon.png' | absolute_url }}">
<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon-precomposed" href="{{ '/assets/images/apple-touch-icon-precomposed.png' | absolute_url }}">
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ '/assets/images/apple-touch-icon-72x72-precomposed.png' | absolute_url }}">
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ '/assets/images/apple-touch-icon-114x114-precomposed.png' | absolute_url }}">

<!-- end custom head snippets -->