# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

theme: minimal-mistakes-beta-jekyll
minimal_mistakes_skin : "beta" # "default", "air", "contrast", "dark", "dirt", "mint", "sunrise"

# Site Settings
locale                   : "en"
title                    : "BETA Europe"
title_separator          : "-"
name                     : "Bringing Europeans Together Association e.V."
description              : "EU Politics Simulations"
url                      : "https://www.beta-europe.org"
baseurl                  : # the subpath of your site, e.g. "/blog"
repository               : "beta-europe/www.beta-europe.org"
teaser                   : # path of fallback teaser image, e.g. "/assets/images/500x300.png"
# breadcrumbs            : false # true, false (default)
words_per_minute         : 200
search                   : true
comments:
  provider               : "discourse" # false (default), "disqus", "discourse", "facebook", "google-plus", "staticman", "custom"
  disqus:
    shortname            : # https://help.disqus.com/customer/portal/articles/466208-what-s-a-shortname-
  discourse:
    server               : "forum.beta-europe.org" # https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963 , e.g.: meta.discourse.org
  facebook:
    # https://developers.facebook.com/docs/plugins/comments
    appid                :
    num_posts            : # 5 (default)
    colorscheme          : # "light" (default), "dark"
staticman:
  allowedFields          : ['name', 'email', 'url', 'message']
  branch                 : "master"
  commitMessage          : "New comment."
  filename               : comment-{@timestamp}
  format                 : "yml"
  moderation             : true
  path                   : "docs/_data/comments/{options.slug}" # "/_data/comments/{options.slug}" (default)
  requiredFields         : ['name', 'email', 'message']
  transforms:
    email                : "md5"
  generatedFields:
    date:
      type               : "date"
      options:
        format           : "iso8601" # "iso8601" (default), "timestamp-seconds", "timestamp-milliseconds"
atom_feed:
  path                   : # blank (default) uses feed.xml
cms:
  has_conference         : true
  has_members            : true
  has_observers          : true

# Related to Forum API
forum_api: https://forum.beta-europe.org

# Stripe
stripe_public_key: pk_live_1gz0SmUMlPWVoaiXtgJezHqP

# SEO Related
google_site_verification :
bing_site_verification   :
alexa_site_verification  :
yandex_site_verification :

# Social Sharing
twitter:
  username               : "BETA_Europe"
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 : # Open Graph/Twitter default site image
# For specifying social profiles
# - https://developers.google.com/structured-data/customize/social-profiles
social:
  type                   : Organization # Person or Organization (defaults to Person)
  name                   : # If the user or organization name differs from the site's name
  links: # An array of links to social media profiles

# Analytics
analytics:
  provider               : # false (default), "google", "google-universal", "custom"
  google:
    tracking_id          : "UA-70785498-1"


# Site Author
author:
  name             : "BETA Europe"
  avatar           :  # path of avatar image, e.g. "/assets/images/beta-logo-180-transparent.png"
  bio              : "Bringing Europeans Together Association"
  location         :
  email            : contact@beta-europe.org
  uri              :
  bitbucket        :
  codepen          :
  dribbble         :
  flickr           :
  facebook         : "BringingEuropeansTogetherAssociation"
  foursquare       :
  github           : "beta-europe"
  gitlab           :
  google_plus      :
  keybase          :
  instagram        :
  lastfm           :
  linkedin         :
  pinterest        :
  soundcloud       :
  stackoverflow    : # "123456/username" (the last part of your profile url, e.g. http://stackoverflow.com/users/123456/username)
  steam            :
  tumblr           :
  twitter          : "BETA_Europe"
  vine             :
  weibo            :
  xing             :
  youtube          : # "https://youtube.com/c/MichaelRoseDesign"


# Reading Files
include:
  - .htaccess
  - _pages
  - _headers
  - _redirects
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp
  - /docs # ignore Minimal Mistakes /docs
  - /test # ignore Minimal Mistakes /test
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:year/:month/:day/:title/
paginate: 5 # amount of posts to show
paginate_path: /news/page:num/
timezone: "Europe/Paris" # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-archives

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji


# Archives
#  Type
#  - GitHub Pages compatible archive pages built with Liquid ~> type: liquid (default)
#  - Jekyll Archives plugin archive pages ~> type: jekyll-archives
#  Path (examples)
#  - Archive page should exist at path when using Liquid method or you can
#    expect broken links (especially with breadcrumbs enabled)
#  - <base_path>/tags/my-awesome-tag/index.html ~> path: /tags/
#  - <base_path/categories/my-awesome-category/index.html ~> path: /categories/
#  - <base_path/my-awesome-category/index.html ~> path: /
category_archive:
  type: jekyll-archives
  path: /categories/
tag_archive:
  type: jekyll-archives
  path: /tags/
# https://github.com/jekyll/jekyll-archives
jekyll-archives:
  enabled:
    - categories
    - tags
  layouts:
    category: archive-taxonomy
    tag: archive-taxonomy
  permalinks:
    category: /categories/:name/
    tag: /tags/:name/


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development

# Collections
collections:
  conferences:
    title: Conferences
    output: true
    permalink: "/conference/:path/"
  partners:
    title: Partners
    output: true
    permalink: "/partner/:path/"
  members:
    title: Members
    output: true
    permalink: "/member/:path/"
  observers:
    title: Observers
    output: true
    permalink: "/observer/:path/"
  teams:
    title: Teams
    output: true
    permalink: "/team/:path/"
  pages:
    title: Pages
    output: true
    permalink: "/:slug/"
  teammembers:
    title: Teammembers
    output: true
    permalink: "/teammembers/:path/"

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      share: true
      related: true
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
      #sidebar:
        #- title: BETA Europe
          #image: "/assets/images/beta-logo-180-transparent.png"
          #image_alt: Logo of BETA Europe
          #text: Bringing Europeans Together Association
      share: true
      edit: true
      comments: false
  # _conferences
  - scope:
      path: ''
      type: conferences
    values:
      layout: conference_page
      author_profile: true
      comments: false
      share: true
      edit: true
      related: false
  # _partners
  - scope:
      path: ''
      type: partners
    values:
      layout: partner_page
      author_profile: true
      comments: false
      share: true
      edit: true
      related: false
  # _observers
  - scope:
      path: ''
      type: observers
    values:
      layout: partner_page
      author_profile: true
      comments: false
      share: true
      edit: true
      related: false
  # _members
  - scope:
      path: ''
      type: members
    values:
      layout: partner_page
      author_profile: true
      comments: false
      share: true
      edit: true
      related: false
  # _teams
  - scope:
      path: ''
      type: teams
    values:
      layout: team_page
      author_profile: false
      comments: false
      share: true
      edit: false
      related: false
      sidebar:
        nav: teams
  # _teammembers
  - scope:
      path: ''
      type: teammembers
    values:
      layout: team_page
      author_profile: true
      comments: false
      share: true
      edit: true
      related: false
