/* ==========================================================================
   CUSTOMIZATIONS
   ========================================================================== */

/* the author image is our logo, it is not round */
.layout--single, .layout--home {
  .sidebar{
    .author__avatar {
      img {
        width: inherit;
        max-width: inherit;
        opacity: 1;
        border: 0;
        border-radius: 0;
      }
    }
  }
}

/* copy some styles from achive page for splash page */
.layout--splash .layout--splash__recent--posts {
  p.page__meta, p.archive__item-excerpt {
    font-size: 0.75em;
  }
  .archive__item .archive__item-title {
  }
  .archive__item a {
    color: inherit;
    text-decoration: none;
  }
}

/* use our logo in the header */
.masthead a.site-title {
  .site-title-logo {
    display: none;
  }
  @include breakpoint(0) { /* e.g. $medium $small */
    height: 2.5em;
    z-index: 0;
    img {
      max-height: 110px;
      height: 5em;
    }
    .site-title-text {
      display: none;
    }
    .site-title-logo {
      margin-top: -1em;
      display: inherit;
    }
  }
}

/* improvement for team pages */
.grid__item-title-team:hover h3 {
  text-decoration: underline;
}
.grid__item-excerpt-team {
  font-size: 0.75em;
  ul li {
    margin-bottom: 0;
  }
  .author__urls a {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
  }
}

/* nicer tables for data and calendar */
table {
  font-family: "PT Sans Narrow", $sans-serif;
}

/* page edit area */
// from _navigation.scss
.page__edit + .pagination {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid $border-color;
}
// from _page.scss
.page__edit {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid $border-color;

  @include breakpoint(max-width $small) {
    .btn span {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
}

.page__edit-title {
  margin-bottom: 10px;
  font-size: $type-size-6;
  text-transform: uppercase;
}

@media print {
  .page__edit {
    display: none !important;
    height: 1px !important;    
  }
}


