/* ==========================================================================
   CUSTOMIZATIONS
   ========================================================================== */

.layout--single, .layout--home {
  .sidebar{
    .author__avatar {
      img {
        width: inherit;
        max-width: inherit;
        opacity: 1;
        border: 0;
        border-radius: 0;
      }
    }
  }
}

/*
table {
  font-family: "PT Sans Narrow", $sans-serif;
}
*/
