---
layout: single
---

{{ content }}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>Organisation Name</strong>
            </td>
            <td>{{ page.title }}</td>
        </tr>
        <tr>
            <td><strong>Mail</strong>
            </td>
            <td><a href="mailto:{{ page.mail }}">{{ page.mail }}</a></td>
        </tr>
        <tr>
            <td><strong>Website</strong>
            </td>
            <td><a href="{{page.website}}">{{page.website}}</a></td>
        </tr>
        {% if page.twitter %}
        <tr>
            <td><strong>Twitter</strong>
            </td>
            <td><a href="https://twitter.com/{{page.twitter}}/">@{{ page.twitter }}</a></td>
        </tr>
        {% endif %}
        <tr>
            <td><strong>Members Number</strong>
            </td>
            <td>{{ page.members }}</td>
        </tr>
        <tr>
            <td><strong>Location</strong>
            </td>
            <td>{{ page.country }}, {{ page.town }}{% if page.location %}, {{ page.location }}{% endif %}</td>
        </tr>
    </tbody>
</table>

{% assign conferences = site.conferences | where:'partner-slug', page.slug | sort: 'year' %}
{% if conferences %}
<h3>Hosted Conferences</h3>
<ul>
{% for conference in conferences %}
  <li><a href="{{ conference.url | absolute_url }}">{{ conference.title }}</a></li>
{% endfor %}
</ul>
{% endif %}

<div id="mapid" style="height: 220px"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.1.0/leaflet.js" integrity="sha256-tjeCw1yzCBwiuZUrMPC89d0i82fR7Ij2O1OEo8cEMGw=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/esri-leaflet/2.1.0/esri-leaflet.js" integrity="sha256-0Cv64p2AGKlPdocnd4C/+dG+NSbq2zsp2ZeupUTaLng=" crossorigin="anonymous"></script>
<script type="text/javascript">
  var mymap = L.map('mapid').setView([{{ page.geo }}], 4);
  // https://esri.github.io/esri-leaflet/examples/showing-a-basemap.html
  L.esri.basemapLayer('Streets').addTo(mymap);
  marker = L.marker([{{ page.geo }}]);
  marker.addTo(mymap)
  marker.bindPopup("<b>{{ page.title }}</b>").openPopup();
</script>
